
#page_wrapper{
    width:840px;
    margin-left:auto;
    margin-right:auto;
}

#masthead {}

#container {
    position:relative;
    min-height:500px;
}

#left_page {
    position : relative;
    left:0px; top:0px;
    width : 100px; height:100%;
}

#page_content {
    height:100%;
    magin-left:220px; margin-right:220px;
}

#right_page {
    position : absolute;
    right:0px; top:0px;
    width : 100px; height:100%;
}

#footer_page {}


